# Solution files #
##################
src/.idea/workspace.xml
src/.idea/tasks.xml

# Node packages #
#################
src/node_modules/

# Generated source files #
##########################
src/TypedContract/**/*.js
src/TypedContract/**/*.map
src/TypedContract.specs/**/*.js
src/TypedContract.specs/**/*.map

# Generated diff fiels #
##########################
src/**/*.orig
src/**/*.BACKUP.*
src/**/*.BASE.*
src/**/*.LOCAL.*
src/**/*.REMOTE.*
documents/~$*.xlsx
sh.exe.stackdump
