# Solution files #
##################
Code/.idea/workspace.xml
Code/.idea/tasks.xml

# Node packages #
#################
Code/node_modules/

# Generated source files #
##########################
Code/TypedContract/**/*.js
Code/TypedContract/**/*.map
Code/TypedContract.specs/**/*.js
Code/TypedContract.specs/**/*.map

# Generated diff fiels #
##########################
Code/**/*.orig
Code/**/*.BACKUP.*
Code/**/*.BASE.*
Code/**/*.LOCAL.*
Code/**/*.REMOTE.*
Documents/~$Validators.xlsx
Documents/~$M Process TC.docx
